*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/assetWizardSettings.xml
/.idea/caches/build_file_checksums.ser
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator-enh.xml
